.inner { min-width: 500px; max-width: 960px;}

.popup .inner { padding: 5px 10px 10px;}
h1, h2 { margin: 0 0 0.4em;}
h1 small { font-size: 14px; margin-left: 10px;}

.popup h1 { font-size: 18px; position: relative;}
.popup h1 .checkbox { position: absolute; bottom: 0; right: 0; font-size: 14px;}
.popup h1 small { font-weight: normal; font-size: 12px;}

a { text-decoration: none;}
i.I { padding: 0 5px; color: #999;}

.inner { padding: 20px;}

.status-enabled { color: green;}
.status-disabled { color: #cccccc;}
.bulkForm .field label { display: block; width: auto;}

input, textarea, select { border: 1px solid #DDD; font-size: 12px; font-family: Arial, 'Microsoft Yahei';}
input[type="text"] { font-size: 12px; height: 27px; line-height: 27px; padding: 1px 8px 0; width: 280px;}
input:focus { outline: none; border-color: #999;}
input[type="radio"], input[type="checkbox"] { position: relative; top: 1px;}
input[type="submit"] { cursor: pointer; background: #3B8DBD; border-color: #3B8DBD; padding: 6px 10px; color: #FFF;}
textarea { width: 450px; height: 180px;}

.tabNavs { margin-bottom: 15px; border-bottom: 1px solid #DDD;}
.tabNavs a { display: inline-block; margin-left: 15px; padding: 4px 15px; border: 1px solid #DDD; position: relative; bottom: -1px;}
.tabNavs a.current { background: #FFF; border-bottom-color: #FFF;}

.tabCont { display: none;}
.tabConts .current { display: block;}

.filter { padding: 10px 0; font-size: 12px;}
tr:hover td { background: #E8F7ED;}

tr .actions { display: none;}
tr:hover .actions { display: block;}

.needBulk td { cursor: default;}

.host-status { display: inline-block; position: relative; top: 1px; width: 12px; height: 12px; border-radius: 100%; background: #CCC;}
.status-enabled { background: #00BC39;}

.search { margin-bottom: 10px;}
.search input { height: 23px; line-height: 23px; vertical-align: middle; border-color: #CCC;}
.search input:focus { border-color: #333;}

.bulkActions { font-size: 12px;}
.bulkActions a {cursor: pointer;background: #3B8DBD;border-color: #3B8DBD;padding: 6px 10px;color: #FFF;width: 37px;display: block;}
#label-filter a { display: inline-block; margin-right: 8px;}
#label-filter a.action { color: #000;}
#btn_search { border-radius: 0 3px 3px 0;}

*{font-size:12px;}input,textarea{border: #999 1px solid;}.w_60{width:60%;}
.b{border: #999 1px solid;}.w200{width:200px;}.f{float:left;}.c{padding:5;margin:5;}
.error{color:red;border-color:red;}bbb{color:#666}
table{border-collapse:collapse;border:none;text-align:center;}td,th{border:solid #BCDCF1 1px;padding: 5px;}
